@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
body {
  font-family: "Parkinsans", sans-serif;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --brownColor: #854621;
  --lightBrownColor: #cf8e55;
  --whiteColor: #fafaff;
  --fontFamily: "Finger Paint", sans-serif;
}
.pop-up {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--lightBrownColor);
  color: var(--whiteColor);
  font-family: var(--fontFamily);
  font-weight: bold;
  font-size: 25px;
  z-index: 1000000000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-inline: 30px;
  margin-inline: auto;
}

.cart {
  width: 100%;
  height: 100vh;
  background-color: var(--whiteColor);
}

.cart .heade {
  width: 100%;
  height: 60px;
  background-color: #181b1e;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .heade p:first-child {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 22px;
}
.cart .heade p:first-child::first-letter {
  color: var(--lightBrownColor);
}
.cart .heade .close-cart {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.cart .heade .close-cart:hover {
  color: var(--lightBrownColor);
  scale: 1.5;
}
.cart .main {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cart .container .main .order-side {
  flex: 1;
  padding: 12px 20px;
}
.cart .container .main .order-side .header {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #181b1e;
  font-weight: bold;
  gap: 20px;
}

.cart .container .main .order-side .cart-box {
  overflow-y: auto;
  padding: 40px 0;
  height: 500px;
  padding: 12px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.cart .container .main .order-side .cart-box .product-box {
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--whiteColor);
}
.cart .container .main .order-side .cart-box .product-box .main-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart
  .container
  .main
  .order-side
  .cart-box
  .product-box
  .main-info
  .image-cover {
  width: 200px;
  height: 200px;
}
.cart
  .container
  .main
  .order-side
  .cart-box
  .product-box
  .main-info
  .image-cover
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart .container .main .order-side .cart-box .product-box .main-info .text p {
  font-size: 14px;
  color: #181b1e;
}
.cart
  .container
  .main
  .order-side
  .cart-box
  .product-box
  .main-info
  .text
  span {
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #181b1e;
}
.cart .container .main .order-side .cart-box .product-box .btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cart .container .main .order-side .cart-box .product-box .btns button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #181b1e;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 18px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  cursor: pointer;
}
.cart .container .main .order-side .cart-box .product-box .btns span {
  color: var(--lightBrownColor);
  font-weight: bold;
  font-size: 25px;
}
.cart .container .main .order-side .cart-box .product-box .total {
  font-weight: bold;
  font-size: 25px;
  color: var(--lightBrownColor);
}
.cart .container .main .order-side .cart-box .product-box .delete {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #181b1e;
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 18px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  cursor: pointer;
}
.cart .container .main .checkout {
  width: 500px;
  padding: 30px 20px;
  color: #181b1e;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .cart .container .main .order-side .cart-box .product-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart .container .main .order-side .cart-box {
    grid-template-columns: repeat(2 , 1fr);
  }
  .cart .container .main .order-side .cart-box .product-box .main-info {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .cart .container .main .order-side .cart-box .product-box .main-info .image-cover{
    width: 100%;
  }

  .cart {
    height: 100%;
  }

  .cart .container .main .order-side {
    width: 100%;
  }
  .cart .container .main .checkout {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cart .container .main .order-side .cart-box .product-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart .container .main .order-side .cart-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart .container .main .order-side .cart-box .product-box .main-info {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .cart .container .main .order-side .cart-box .product-box .main-info .image-cover{
    width: 100%;
  }
  .cart {
    height: 100%;
  }

  .cart .container .main .order-side {
    width: 100%;
  }
  .cart .container .main .checkout {
    width: 100%;
  }
}
.cart .container .main .checkout .summary {
  color: var(--lightBrownColor);
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #66666644;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.cart .container .main .checkout .price-info .items-numbers {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .container .main .checkout .price-info .items-numbers span {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart .container .main .checkout .price-info ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart .container .main .checkout .price-info ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .container .main .checkout .price-info ul li:last-child {
  font-weight: bold;
  border-top: 1px solid #66666644;
  padding-top: 12px;
}
.cart .container .main .checkout .price-info button {
  margin: 40px 0;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #181b1e;
  color: var(--whiteColor);
  font-weight: bold;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  cursor: pointer;
}
.cart .container .main .checkout .price-info button:hover {
  background-color: var(--lightBrownColor);
}
