@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
body {
  font-family: "Parkinsans", sans-serif;
  position: relative; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --brownColor: #854621;
  --lightBrownColor: #cf8e55;
  --whiteColor: #fafaff;
  --fontFamily: "Finger Paint", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-inline: 30px;
  margin-inline: auto;
}

.cart {
  width: 100%;

  background-color: var(--whiteColor);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.cart.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.cart .heade {
  width: 100%;
  height: 60px;
  background-color: #181b1e;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .heade p:first-child {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 22px;
}
.cart .heade p:first-child::first-letter {
  color: var(--lightBrownColor);
}
.cart .heade p:last-child {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.cart .heade p:last-child:hover {
  color: var(--lightBrownColor);
  scale: 1.5;
}
.cart  .main {
  position: relative;
  top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cart .container .main .order-side {
  flex: 1;
  padding: 30px 20px;
}
.cart .container .main .order-side .cart-box {
  overflow-y: auto; 
  padding: 40px 0;
  /* max-height: 600px; */
}
.cart .container .main .checkout {
  width: 500px;
  padding: 30px 20px;
  color: #181b1e;
}
@media (min-width: 601px) and (max-width: 1024px) {

  .cart .container .main .order-side {
    width: 100%;
  }
  .cart .container .main .checkout {
    width: 100%;
  }
  .cart .container .main .order-side .cart-box {
     max-height: 400px; 
  }
}
@media (max-width: 600px) {

  .cart .container .main .order-side {
    width: 100%;
  }
  .cart .container .main .checkout {
    width: 100%;
  }
  .cart .container .main .order-side .cart-box {
    max-height: 400px; 
 }
}
.cart .container .main .checkout .summary {
  color: var(--lightBrownColor);
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #66666644;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.cart .container .main .checkout .price-info .items-numbers {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .container .main .checkout .price-info .items-numbers span {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart .container .main .checkout .price-info ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart .container .main .checkout .price-info ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .container .main .checkout .price-info ul li:last-child {
  font-weight: bold;
  border-top: 1px solid #66666644;
  padding-top: 12px;
}
.cart .container .main .checkout .price-info button {
  margin: 40px 0;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #181b1e;
  color: var(--whiteColor);
  font-weight: bold;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  cursor: pointer;
}
.cart .container .main .checkout .price-info button:hover {
  background-color: var(--lightBrownColor);
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/Landing.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.wrapper .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 14, 14, 0.3);
  z-index: -1;
}
.container header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 60px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  padding-inline: 30px;
}

.container header p {
  color: var(--whiteColor);
  font-size: 22px;
  font-weight: bold;
}
.container header p::first-letter {
  color: var(--lightBrownColor);
}
.container header nav {
  z-index: 10000;
}
.container header nav ul {
  display: flex;
  gap: 30px;
}
.container header nav ul li a {
  color: var(--whiteColor);
  font-size: 18px;
}

.container header nav ul li a.active {
  color: var(--lightBrownColor);
}
.container header .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}
.container header .btns .icon i {
  color: var(--whiteColor);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.container header .btns .icon i:hover {
  color: var(--lightBrownColor);
}
.container header .btns .btn {
  display: none;
  cursor: pointer;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .container header nav {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #181b1e;
    width: 100%;
    padding: 40px;
    transform: translateX(-130%);
    -webkit-transform: translateX(-130%);
    -moz-transform: translateX(-130%);
    -ms-transform: translateX(-130%);
    -o-transform: translateX(-130%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
  .container header nav.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .container header nav ul {
    flex-direction: column;
  }

  .container header .btns .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 25px;
    height: 25px;
  }
  .container header .btns .btn .btn-line {
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .btns .btn.burger .btn-line:nth-child(1) {
    transform: translate(-8px, 8px) rotate(45deg);
    -webkit-transform: translate(-8px, 8px) rotate(45deg);
    -moz-transform: translate(-8px, 8px) rotate(45deg);
    -ms-transform: translate(-8px, 8px) rotate(45deg);
    -o-transform: translate(-8px, 8px) rotate(45deg);
    background-color: var(--brownColor);
  }
  .btn.burger .btn-line:nth-child(2) {
    transform: translateX(12px);
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    -ms-transform: translateX(12px);
    -o-transform: translateX(12px);
    opacity: 0;
  }

  .btns .btn.burger .btn-line:nth-child(3) {
    transform: translate(-8px, -8px) rotate(-45deg);
    -webkit-transform: translate(-8px, -8px) rotate(-45deg);
    -moz-transform: translate(-8px, -8px) rotate(-45deg);
    -ms-transform: translate(-8px, -8px) rotate(-45deg);
    -o-transform: translate(-8px, -8px) rotate(-45deg);
    background-color: var(--brownColor);
  }
}
@media (max-width: 600px) {
  .container header nav {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #181b1e;
    width: 100%;
    padding: 40px;
    transform: translateX(-130%);
    -webkit-transform: translateX(-130%);
    -moz-transform: translateX(-130%);
    -ms-transform: translateX(-130%);
    -o-transform: translateX(-130%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .container header nav.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .container header nav ul {
    flex-direction: column;
  }

  .container header .btns .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 25px;
    height: 25px;
  }
  .container header .btns .btn .btn-line {
    width: 100%;
    height: 2px;
    background-color: var(--whiteColor);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .btns .btn.burger .btn-line:nth-child(1) {
    transform: translate(-8px, 8px) rotate(45deg);
    -webkit-transform: translate(-8px, 8px) rotate(45deg);
    -moz-transform: translate(-8px, 8px) rotate(45deg);
    -ms-transform: translate(-8px, 8px) rotate(45deg);
    -o-transform: translate(-8px, 8px) rotate(45deg);
    background-color: var(--brownColor);
  }
  .btn.burger .btn-line:nth-child(2) {
    transform: translateX(12px);
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    -ms-transform: translateX(12px);
    -o-transform: translateX(12px);
    opacity: 0;
  }

  .btns .btn.burger .btn-line:nth-child(3) {
    transform: translate(-8px, -8px) rotate(-45deg);
    -webkit-transform: translate(-8px, -8px) rotate(-45deg);
    -moz-transform: translate(-8px, -8px) rotate(-45deg);
    -ms-transform: translate(-8px, -8px) rotate(-45deg);
    -o-transform: translate(-8px, -8px) rotate(-45deg);
    background-color: var(--brownColor);
  }
}
.container .content {
  position: relative;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
.container .content .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.container .content .text h1 {
  color: var(--whiteColor);
  text-transform: capitalize;
  font-size: 40px;
  font-family: var(--fontFamily);
}
.container .content .text h1 span {
  display: inline-block;
}
.container .content .text h1 span::first-letter {
  color: var(--lightBrownColor);
}
.container .content .text a {
  display: inline-block;
  background-color: var(--brownColor);
  padding: 8px 50px;
  color: var(--whiteColor);
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin: 30px 0;
}
.container .content .text a:hover {
  background-color: var(--lightBrownColor);
}
.container .content .social-icons {
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.container .content ul li a {
  color: var(--whiteColor);
}
@media (min-width: 601px) and (max-width: 1024px) {
  .container .content .text {
    width: 500px;
  }
  .container .content .text h1 {
    font-size: 40px;
  }
  .container .content .text a {
    padding: 8px 50px;
  }
}
@media (max-width: 600px) {
  .container .content .text {
    max-width: 100%;
  }
  .container .content .text h1 {
    font-size: 30px;
  }
  .container .content .text a {
    padding: 8px 50px;
  }
}
.discount {
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.discount .container {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.discount .container .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.discount .container .text h3 {
  color: var(--lightBrownColor);
  font-size: 70px;
  line-height: 1.1;
  font-family: var(--fontFamily);
}
.discount .container .text p {
  color: #666;
  font-size: 14px;
}
.discount .container .text a {
  display: inline-block;
  padding: 8px 40px;
  color: var(--brownColor);
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid var(--brownColor);
}
.discount .container .image-cover {
  background-image: url(../Images/discount.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(30px 0px 10px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(30px 0px 10px rgba(0, 0, 0, 0.2));
}

@media (min-width: 601px) and (max-width: 1024px) {
  .discount .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discount .container .text h3 {
    font-size: 50px;
  }
  .discount .container .text p {
    color: #666;
    font-size: 14px;
  }
  .discount .container .text a {
    padding: 8px 30px;
  }
  .discount .container .image-cover {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .discount .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discount .container .text h3 {
    font-size: 30px;
  }
  .discount .container .text p {
    color: #666;
    font-size: 14px;
  }
  .discount .container .text a {
    padding: 8px 30px;
  }
  .discount .container .image-cover {
    width: 100%;
    height: 280px;
  }
}

